# Environment variables - NEVER push this
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
*.pyc
db.sqlite3
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db